.cms_footer_links , .cms_footer_links  ul{float: left;}
.newsletter {width: 45%;}
.cms_footer_links {text-transform: uppercase;}
.input-box{
    height: 20px; /*Before 25px*/
    padding-top: 10px; /*Before 8px*/
}

.footer-social{
    float: right;
    display: block;
    margin: 6px 0 0 0;
}

.footer-social li{
    margin-top: 0;
    margin-right: 4px;
    padding: 0 0 0 0;
    height: 20px;
}


.footer-copyright-right{
    padding-left: 0px;
    /*margin-left: 30px;*/
}

